ray
pandas
pyarrow
runpod~=1.7.7
huggingface-hub
packaging
typing-extensions>=4.8.0
pydantic
pydantic-settings
hf-transfer
git+https://github.com/huggingface/transformers@v4.49.0-Gemma-3#egg=transformers
bitsandbytes>=0.45.0
